body{
     font-family:arial;
     margin:0;
     padding:0;
}


.wrapper{
      	background:url(images/clg.jpg)
       	no-repeat center center;
      	min-height:30rem;
}



nav{


   width:100%;
   heigth:80px;
   background-color:#0005;
   line-height: 80px;
}


nav ul{
     float: right;
     margin: 0;
     margin-right: 1.9rem;
}

nav ul li{
	float:
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
        text-decoration:none;
	color:#fff;
	padding:20px;
}
nav ul li a:hover{
}
img{
	width:14%;
	margin-left:1.9rem;
	margin-top:-4%; 
}

nav ul li:hover{
	background-color:coral;
	color: #000;
	font-weight:bold;
	font-size: 1.2rem
}   


table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 75%;
}

td {
  height: 30px;
  vertical-align: bottom;
}
.section{
	width: 80%;
	margin: auto;
	overflow:hidden;
	margin-top:4%;
}
.section h1{
	color:#black;
	line-height:50px;

}
.section p{
	color:black;
}

.btn-1{
       	background-color:orangered;
	padding:0.7rem 1rem;
	color:#fff;
	border:none;
	boarder-radius:10px;
}


.showcase h1{
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
        
}
#courses{
	display:flex;
	text-align:center;
}
#courses img{
	width:250px;
	border-radius:10px;
	border:2px solid #000;
}
.apply{
	margin-top:4%;
	background-color:orangered;
	padding:0.7rem 1rem;
	color:#fff;
	border:none;
	border-radius:10px;
}


footer{
	background-color:#333;
	color:#fff;
	text-align:center;
	padding:1.2rem;
	margin-top:4%;
}




